body{
    margin: 0%;
    overflow: hidden;
}
/* nav bar styling */
.Header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 650px;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}
.heading{

}

.heading h1{
    font-size: 30px;
}
.heading span{
    color: orangered;

}

.heading h1:hover {
    transition: transform 1.5s ease;
    transform: scale(1.3);  
    cursor: pointer;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.links a {
    color: white;
    text-decoration: none;
    
}


.links a:hover{
    transition: transform 1.5s ease;
    transform: scale(1.3);  
    cursor: pointer;
    color: orangered;
    font-weight: 100;
}

/* Styling Middle section */
.section {
    position: relative;
    width: 100%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.section .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imges/image14.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5) blur(2px);
}

.section #h1{
    position: relative;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 15px;
    cursor: pointer;
}

.section #para {
    position: relative;
    margin-top: 0px;
    font-weight: 200px;
    cursor: pointer;
}

.section #button {
    position: relative;
    padding: 10px;
    border: 2px solid rgb(133, 0, 0);
    border-radius: 25px;
    font-weight: bold;
    color: white;
    background-color: rgb(222, 123, 11);
    transition: 0.3s ease;
}

.section #button:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: white;
    background-color:  black;
    border: 4px solid rgb(236, 30, 30);
    font-weight: bolder;
}

/* styling footer section */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    
}

#I{ 
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.icon img{
     width: 25px;   
     height: 25px;
     margin-top:10px; 
     gap: 10px; 
}

.icon img:hover{
    transition: transform 1.3s ease;
    transform: scale(1.5);  
    cursor: pointer;
    color: orangered;
}

#h{
    margin-top: 5px;
    margin-bottom:5px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#h:hover{
    transition: transform 1.5s ease;
    transform: scale(1.3);  
    cursor: pointer;
    color: orangered;
}


